<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>案例详细信息</title>
	<link rel="stylesheet" href="../Public/static/css/case-details.css"">
</head>
<body>
	<header class="caseHeader">
		<div class="caseHeaderContent">
			<img src="../../../../Public/images/logo-green.jpg" alt="logo">
			<ul>
				<li><a class="caseHeaderNav" href="">网站首页</a></li>
				<li><a class="caseHeaderNav" href="">知了商城</a></li>
				<li><a class="caseHeaderNav activeCase" href="">案例展示</a></li>
				<li><a class="caseHeaderNav" href="">知了定制</a></li>
				<li><a class="caseHeaderNav" href="">关于我们</a></li>
				<li><a class="caseHeaderNav" href="">联系我们</a></li>
			</ul>
		</div>
	</header>
	<!-- 中间主体部分开始 -->
	<section class="caseSction">
		<p class="caseSctionPrompt">着不大让您满意的商品？<a href="">点击此处</a>直达知了素材商城</p>
	</section>
	<!-- 中间主体部分结束 -->
</body>
</html>