<include file="Public/model_header" title="案列展示" />

<body>
	<div class="bodyCenter">
		<!-- 标语 -->
		<p class="poster">找不到让您满意的商品？<a href="#">点击此处</a>直达知了商城素材！</p>
		
		<!-- 您的位置 -->
		<p class="positions">您的位置：案例展示</p>

		<!-- 导航条 -->
		<ul class="nav">
			<li><a href="#">全部</a></li>
			<li><a href="#">动态模板</a></li>
			<li><a href="#">静态模板</a></li>
			<li><a href="#">登录器皮肤</a></li>
			<li><a href="#">Logo设计</a></li>
			<li><a href="#">Flash设计</a></li>
			<li><a href="#">定制展示</a></li>
		</ul>

		<!-- 顶部翻页 -->
		<div class="topPageturn">
			<ul class="rightNav">
					<li><a> < </a></li>
					<li> 2 </li>
					<li><a> > </a></li>
			</ul>
		</div>

		<!-- 模板展示 此处为第一排，共四排-->
		<div class="caseShow">
			<dl>
				<dt><img src="__PUBLIC__/Images/tempic.jpg"></dt>
				<dd><a href="#">独家精品动态传奇网站模板...笑傲江湖</a></dd>
				<a class="detailed" href="#">详细信息</a>
				<a class="prices">模板价格：{10000金币}</a>
			</dl>

			<dl>
				<dt><img src="__PUBLIC__/Images/tempic.jpg"></dt>
				<dd><a href="#">独家精品动态传奇网站模板...笑傲江湖</a></dd>
				<a class="detailed" href="#">详细信息</a>
				<a class="prices">模板价格：{10000金币}</a>
			</dl>

			<dl>
				<dt><img src="__PUBLIC__/Images/tempic.jpg"></dt>
				<dd><a href="#">独家精品动态传奇网站模板...笑傲江湖</a></dd>
				<a class="detailed" href="#">详细信息</a>
				<a class="prices">模板价格：{10000金币}</a>
			</dl>

			<dl>
				<dt><img src="__PUBLIC__/Images/tempic.jpg"></dt>
				<dd><a href="#">独家精品动态传奇网站模板...笑傲江湖</a></dd>
				<a class="detailed" href="#">详细信息</a>
				<a class="prices">模板价格：{10000金币}</a>
			</dl>
		
			<!--翻页的页码部分-->
			<div class="pages">
				<ul>
					<li class="pageFirst"><a href="#">上一页</a></li>
					<li class="pageSecond"><a href="#">1</a></li>
					<li class="pageSecond"><a href="#">2</a></li>
					<li class="pageSecond"><a href="#">3</a></li>
					<li class="pageSecond"><a href="#">4</a></li>
					<li class="pageSecond"><a href="#">5</a></li>
					<li class="pageSecond"><a href="#">6</a></li>
					<li class="pageSecond"><a href="#">7</a></li>
					<li class="pageSecond"><a href="#">8</a></li>
					<li class="pageSecond"><a href="#">9</a></li>
					<li class="pageMore">...</li>
					<li class="pageSecond"><a href="#">15</a></li>
					<li class="pageFirst"><a href="#">下一页</a></li>
				</ul>
			</div>

		</div>
	</div>


	<include file="Public/model_footer" title="案列展示"/>