<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>案例详细信息</title>
	<link rel="stylesheet" href="../Public/static/css/case-details.css"">
</head>
<body>
	
	<!-- 中间主体部分开始 -->
	<section class="caseSction">
		<p class="caseSctionPrompt">找不到让您满意的商品？<a href="">点击此处</a>直达知了素材商城！</p>
		<!-- 中间TOP部分：位置到设计方案开始 -->
		<div class="caseSctionTop">
			<p class="casePosition">您的位置：案例展示>详情展示</p>
			<div class="casePageTurn">
				<p class="casePageTurnLeft">独家精品动态传奇网站模板框架...笑傲江湖</p>
				<ul class="casePageTurnRight">
					<li>上一篇</li>
					<li>返回</li>
					<li>下一篇</li>
				</ul>
			</div>
			<form class="caseMouldDetail">
				<div class="caseMouldDetailLeft">
					<p>
						<span class="MouldDetailtitle">模板类型：</span>
						<span class="mouldDetailIntro">独家精品动态传奇网站模板框架</span>
					</p>
					<p>
						<span class="MouldDetailtitle">服务项目：</span>
						<span class="mouldDetailIntro">xxxxxxxxxxxxxxxxxxxxx</span>
					</p>
					<p>
						<span class="MouldDetailtitle">模板价格：</span>
						<span class="mouldDetailMoney">{1000金币}</span>
					</p>
					<p>
						<span class="MouldDetailtitle">服务说明：</span>
						<input class="check" type="checkbox" checked>
						<span class="mouldDetailIntro">全套服务（按照以下服务计费）</span>
						<input class="check" type="checkbox">
						<span class="mouldDetailIntro">模板框架（不包含服务）</span>
					</p>
				</div>
				<div class="caseMouldDetailRight">
					<input type="button" value="购买">
					<input type="button" value="收藏">
				</div>
			</form>
			<div class="caseDownArea">
				<p>下载区域<span>（需购买才可下载）</span></p>
				<div class="downAreaFile">
					<div class="downAreaCompress">
						<dl class="downAreaCompressTop">
							<dt><img src="../../../../Public/images/compress.jpg" alt="压缩包"></dt>
							<dd class="compressName">a-heter.zip</dd>
							<dd>WinRAR ZIP 压缩文件</dd>
							<dd>4,886 KB</dd>
						</dl>
						<p class="downAreaCompressBottom"><a href="">点击下载</a></p>
					</div>
					<div class="downAreaCompress">
						<dl class="downAreaCompressTop">
							<dt><img src="../../../../Public/images/compress.jpg" alt="压缩包"></dt>
							<dd class="compressName">a-heter.zip</dd>
							<dd>WinRAR ZIP 压缩文件</dd>
							<dd>4,886 KB</dd>
						</dl>
						<p class="downAreaCompressBottom"><a href="">点击下载</a></p>
					</div>
				</div>
			</div>
			<div class="caseDesignPlan">
				<span>设计方案：</span>
				<section class="designPlanExplain">
					<h2>独家精品动态传奇网站模板框架...青云古剑</h2>
					<p>【费用说明】：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
					<p>【免费服务】：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
					<p>【额外付费】：xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
					<p>【关于署名】：xxxxxxxxxxxxxx</p>
					<p>【特别说明】：xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
					<p>【模板适用】：xxxxxxxxxxxxxxxx</p>
				</section>
			</div>
		</div>
		<!-- 中间TOP部分：位置到设计方案结束 -->
		<!-- 中间CENTER部分：展示区开始 -->
		<div class="caseSctionCenter">
			<p class="caseSctionCenterTitle">背景图、LOGO、FLASH展示图</p>
			<embed src=""></embed>
			<img src="../../../../Public/images/exploded-view.jpg" alt="展示图">
		</div>
		<!-- 中间CENTER部分：展示区结束 -->
	</section>
	<!-- 中间主体部分结束 -->
</body>
</html>