<ul class="nav navbar-nav side-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> 用户管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('user/index?level=0')}">站长</a></li>
            <li><a href="{:U('user/index?level=1')}">管理员</a></li>
            <li><a href="{:U('user/index?level=2')}">vip用户</a></li>
            <li><a href="{:U('user/index?level=3')}">普通用户</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> 作品管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('work/index?flag=2')}">未审核</a></li>
            <li><a href="{:U('work/index?flag=1')}">已审核</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="{:U('recharge/index')}"><i class="fa fa-file-text-o"></i> 充值记录 </a>
    </li>
    <li class="dropdown">
        <a href="{:U('withdraw/index')}"><i class="fa fa-users"></i> 提现记录</a>  
    </li>
     <li class="dropdown">
        <a href="{:U('consume/index')}"><i class="fa fa-link"></i> 交易记录</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit"></i> 评论管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('comment/index?status=0')}">未审核评论</a></li>
            <li><a href="{:U('comment/index?status=1')}">已审核评论</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 系统设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('setting/index')}">自定义字段</a></li>
            <li><a href="#">系统优化</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li>
</ul>