
<!-- footer -->
	<footer id="footer">
		<div class="footer_top">
			<div class="safety">
				<img src="__PUBLIC__/images/pledge_03.jpg"/>
			</div>
			<div class="zlIntroduce">
				<h3>专注正版设计作品交易平台</h3>
				<p>知了设计为了广大游戏工作者，游戏爱好者、设计师等等，提供超多的游戏素材</p>
				<div class="zlIntroduce-service"><span>在线客服 : </span><img src="__PUBLIC__/images/qqzx_06.jpg"><span> 咨询电话：133-8748-2802</span></div>
			</div>
			<div class="guide">
				<h3>客户指南</h3>
				<ul>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">售后服务</a></li>
					<li><a href="#">版权声明</a></li>
					<li><a href="#">出售作品</a></li>
					<li><a href="#">投诉举报</a></li>
					<li><a href="#">网站导航</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">图片下载</a></li>
				</ul>
			</div>
			<div class="footerLogo">
				<img src="__PUBLIC__/images/logo_06.png"/>
			</div>
		</div>
		<!--  footer_bottom-->
		<div class="footer_bottom"> 
			<div class="footer_bottom_container">
				<p>Copyright ?  2008-2014知了设计蜀ICP备16029489号</p>
				<p>若您发现您的权利被侵害， 请发起知识产权投诉。</p>
				<p>CIcada design (Changsha) Network Technology Co., Ltd. all rights reserved. 知了设计 （长沙） 网络技术有限公司版权所有</p>
			</div>
		</div>
	</footer>
<!-- footer结尾 -->

</body>
</html>