
<!-- footer -->
<body>

		<!-- footer -->
		<footer class="footer">
			<div>
				<p class="names">知了设计</p>
				<p class="address">北京市昌平区顺沙路19号6区</p>
				<p class="telephone">+152-3467-5667</p>
				<ul>
					<li><a href="#"><img src="__PUBLIC__/Images/qqpic.gif"/></a></li>
					<li><a href="#"><img src="__PUBLIC__/Images/chatpic.gif"/></a></li>
					<li><a href="#"><img src="__PUBLIC__/Images/weibopic.gif"/></a></li>
				</ul>
			</div>
			<p class="words">京ICP备14007358号-1/京公网安备11010802014104号/Powered by &copy 2008-2016 UI.CN</p>
			<p class="words">安全联盟认证 可信网站</p>
		</footer>
	</div>
</body>
</html>