<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页模板</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/model_index.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/model_header.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/model_footer.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/case_show.css">
</head>
<body>
	<div class="main">
		<div class="head">
			<!-- 头部导航条部分 -->
			<header class="caseHeader">
				<div class="caseHeaderContent">
					<img src="__PUBLIC__/Images/headlogo.gif" alt="logo">
					<ul>
						<li><a href="">网站首页</a></li>
						<li><a href="">知了商城</a></li>
						<li><a href="">案例展示</a></li>
						<li><a href="">知了定制</a></li>
						<li><a href="">关于我们</a></li>
						<li><a href="">联系我们</a></li>
					</ul>
				</div>
			</header>
		</div>