<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了定制</title>
	<link rel="stylesheet" href="../Public/static/css/customization.css"">
</head>
<body>
	<header class="customizationHeader">
		<div class="headerContain">
			<img src="../../../../Public/images/theLOGO.jpg" alt="LOGO">
			<ul class="headerNav">
				<li><a href="">网站首页</a></li>
				<li><a href="">知了商城</a></li>
				<li><a href="">案例展示</a></li>
				<li><a href="">设计专栏</a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
		</div>
	</header>
	<!-- 中间主体部分开始 -->
	<section class="customizationMain">
		<ul class="mainNav">
			<li><a href="">常规制作</a></li>
			<li><a href="">组合设计</a></li>
			<li><a href="">精美设计</a></li>
			<li><a href="">高端设计</a></li>
		</ul>
		<div class="customizationMainContent">
			<div class="customizationBackImg">
			</div>
			<div class="customizationContent">
				<img src="../../../../Public/images/customer.gif" alt="">
				<div class="customerTotal">
					<div class="customer">
						<a href=""></a>
						<p>设计师小美</p>
						<p>QQ：568695467</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 中间主体部分结束 -->
</body>
</html>