<include file="Public/header" title="知了首页" />
<body>
	<div class="main">
		<ul class="positions">
			<li>您的位置：</li>
			<li>交易商城> </li>
			<li class="gameNet">游戏网站</li>
			<li>共搜索到<span> 565 </span>个作品</li>
		</ul>
		<!--导航条部分-->
		<nav class="nav">
			<ul class="mainNav">
				<li><a href="#">全部</a></li>
				<li><a href="#">动态模板</a></li>
				<li><a href="#">静态模板</a></li>
				<li><a href="#">登录器皮肤</a></li>
				<li><a href="#">游戏界面</a></li>
				<li><a href="#">网站原画</a></li>
				<li><a href="#">LOGO素材</a></li>
				<li><a href="#">原创衣服</a></li>
				<li><a href="#">原创武器</a></li>
				<li><a href="#">原创地图</a></li>
				<li><a href="#">特效技能</a></li>
				<li><a href="#">精品怪物</a></li>
				<li><a href="#">高档NPC素材</a></li>
				<li><a href="#">首饰法宝</a></li>
				<li><a href="#">其他素材</a></li>
			</ul>
			<div class="leftNav">
				<ul class="leftNavtop">
					<li><a href="#">网站类</a></li>
					<li><a href="#">素材类</a></li>
				</ul>
				<ul class="leftNavbottom">
					<li><a href="#">综合排序</a></li>
					<li><a href="#">热门下载</a></li>
					<li><a href="#">新上传</a></li>
				</ul>
			</div>
			<ul class="rightNav">
				<li><a> < </a></li>
				<li> 2 </li>
				<li><a> > </a></li>
			</ul>
		</nav>
		<!--栏目部分-->
		<div class="banner">
			<span class="leftBracket"> < </span> banner <span class="rightBracket"> > </span>
		</div>
		<!--十大排行榜部分-->
		<div class="ranking">
			<p>知了自由交易平台十大作者自动排名榜</p>
			<div class="autors">
				<dl class="numFirst">
					<span>1</span>
					<dt><a href="#"><img src="/{$order[0]['headimg']}"/></a></dt>
					<dd>{$order[0]['username']}</dd>
				</dl>
				
				<dl class="numFirst">
					<span>2</span>
					<dt><a href="#"><img src="/{$order[1]['headimg']}"/></a></dt>
					<dd>{$order[1]['username']}</dd>
				</dl>
				<dl class="numFirst">
					<span>3</span>
					<dt><a href="#"><img src="/{$order[2]['headimg']}"/></a></dt>
					<dd>{$order[2]['username']}</dd>
				</dl>
				<dl class="numOther"> 
					<span>4</span>
					<dt><a href="#"><img src="/{$order[3]['headimg']}"/></a></dt>
					<dd>{$order[3]['username']}</dd>
				</dl>
				<dl class="numOther">
					<span>5</span>
					<dt><a href="#"><img src="/{$order[4]['headimg']}"/></a></dt>
					<dd>{$order[4]['username']}</dd>
				</dl>
				<dl class="numOther">
					<span>6</span>
					<dt><a href="#"><img src="/{$order[5]['headimg']}"/></a></dt>
					<dd>{$order[5]['username']}</dd>
				</dl>
				<dl class="numOther">
					<span>7</span>
					<dt><a href="#"><img src="/{$order[6]['headimg']}"/></a></dt>
					<dd>{$order[6]['username']}</dd>
				</dl>
				<dl class="numOther">
					<span>8</span>
					<dt><a href="#"><img src="/{$order[7]['headimg']}"/></a></dt>
					<dd>{$order[7]['username']}</dd>
				</dl>
				<dl class="numOther">
					<span>9</span>
					<dt><a href="#"><img src="/{$order[8]['headimg']}"/></a></dt>
					<dd>{$order[8]['username']}</dd>
				</dl>
				<dl class="numLast">
					<span>10</span>
					<dt><a href="#"><img src="/{$order[9]['headimg']}"/></a></dt>
					<dd>{$order[9]['username']}</dd>
				</dl>
			</div>
		</div>

		<div class="sample">
		<!-- 此处为具体模板展示区，共六排,此处为第一排的内容-->
			<foreach name="work" item="v">
			<div class="singleSample">

				<!--<div class="tempic"><img src="__PUBLIC__/Images/tempic.jpg"/></div>
				<p class="slogan"><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<p class="manpic"><a href="#"><img src="__PUBLIC__/Images/manpic.jpg"></a><span>XXX</span></p>
				<p class="loadpic"><a href="#"><img src="__PUBLIC__/Images/loadpic.jpg"></a>4</p>
				<p class="support"><a><img src="__PUBLIC__/Images/support.jpg"></a>1</p>-->

				<div class="tempic"><img src="/{$v.works}"/></div>
				<p class="slogan"><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<p class="manpic"><a href="#"><img src="/{$v.headimg}"></a><span>{$v.username}</span>
				<p class="loadpic"><a href="#"><img src="__PUBLIC__/Images/loadpic.jpg"></a><span>{$v.download}</span></p>
				<p class="support"><a><img src="__PUBLIC__/Images/support.jpg"></a>{$v.favor}</p>

			</div>
			</foreach>
			<!-- 以上是第一排的模板 -->
		</div>
		<!--翻页的页码部分-->
		<div class="pages">
			<ul>
				<li class="pageFirst"><a href="#">上一页</a></li>
				<li class="pageSecond"><a href="#">1</a></li>
				<li class="pageSecond"><a href="#">2</a></li>
				<li class="pageSecond"><a href="#">3</a></li>
				<li class="pageSecond"><a href="#">4</a></li>
				<li class="pageSecond"><a href="#">5</a></li>
				<li class="pageSecond"><a href="#">6</a></li>
				<li class="pageSecond"><a href="#">7</a></li>
				<li class="pageSecond"><a href="#">8</a></li>
				<li class="pageSecond"><a href="#">9</a></li>
				<li class="pageMore">...</li>
				<li class="pageSecond"><a href="#">15</a></li>
				<li class="pageFirst"><a href="#">下一页</a></li>
			</ul>
		</div>
	</div>
	<!-- 右侧边栏部分 -->
	<div class="sidebar">
		<ul>
			<li class="sidebarpic"><img src="__PUBLIC__/Images/sideserver.jpg"/></li>
			<li><a href="#">客服</a></li>
		</ul>	
		<ul>
			<li class="sidebarpic"><img src="__PUBLIC__/Images/sidecode.jpg"/></li>
			<li><a href="#">公众号</a></li>
		</ul>
		<ul>
			<li class="sidebarpic"><img src="__PUBLIC__/Images/sideviews.jpg"/></li>
			<li><a href="#">反馈意见</a></li>
		</ul>
		<ul>
			<li class="sidebarpic"><img src="__PUBLIC__/Images/sidemoney.jpg"/></li>
			<li><a href="#">充值</a></li>
		</ul>
		<ul>
			<li class="sidebarpic"><img src="__PUBLIC__/Images/sidevip.jpg"/></li>
			<li><a href="#">加入VIP</a></li>
		</ul>
		<img class="toptrangle" src="__PUBLIC__/Images/toptrangle.jpg"/>
	</div>

	<include file="Public/footer" />