<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页模板</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/index_model.css">
</head>
<body>
	<div class="main">
		<header class="head">
			<div class="headContent">
				<span class="logo"><img src="__PUBLIC__/Images/headlogo.gif"/></span>
				<ul class="headNav">
					<li><a href="#">网站首页</a></li>
					<li><a href="#">知了商城</a></li>
					<li><a href="#">案例展示</a></li>
					<li><a href="#">知了定制</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
				<div class="show">
					<p><img src="__PUBLIC__/Images/casepic.gif"/>案例展示</p>
					<p><img src="__PUBLIC__/Images/platform.gif"/>素材平台</p>
				</div>
				<ul class="dot">
					<li><a></a></li>
					<li><a></a></li>
					<li><a></a></li>
				</ul>
			</div>
		</header>

		<div class="body">
			<div class="serviceItem">
				<p class="title"><span>服务项目</span></p>
				<p class="englishName"><span>SERVICE ITEMS</span></p>
				<div class="aboutDesign">
					<div>
						<dl>
							<p>常规设计</p>
							<dt><img src="__PUBLIC__/Images/designone.gif"/></dt>
							<dd>符合更多人的浏览习惯</dd>
							<dd>往往让人记忆犹新</dd>
						</dl>
					</div>
					<div>
						<dl>
							<p>组合设计</p>
							<dt><img src="__PUBLIC__/Images/designtwo.gif"/></dt>
							<dd>吸引眼球</dd>
							<dd>独树一帜 与众不同</dd>
						</dl>
					</div>
					<div>
						<dl>
							<p>精美设计</p>
							<dt><img src="__PUBLIC__/Images/designthree.gif"/></dt>
							<dd>零瑕疵的</dd>
							<dd>精美考究</dd>
						</dl>
					</div>
					<div>
						<dl>
							<p>高端设计</p>
							<dt><img src="__PUBLIC__/Images/designfour.gif"/></dt>
							<dd>领先时代</dd>
							<dd>完美不朽</dd>
						</dl>
					</div>
					<p class="introduce">选择以上设计模式，开始定制您的游戏网站</p>
					<p class="introduceTwo">以专业的视角，独特的角度为您提供最具创意、最具视觉冲击力的网站。从交互的角度为受众提供更便利、更舒适的体验感受。</p>
				</div>
			</div>

			<div class="caseShowone">
				<div class="caseShowblack">
					<p class="caseShow"><span>案例展示</span></p>
					<p class="englishName"><span>CASE SHOW</span></p>
					<div class="showBody">
						<div class="leftSide">
							<p>
								<a>查看更多</a>
							</p>
						</div>
						<div class="showModels">
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
						</div>
						<div class="modelStyle">
							<a>动态模板</a>
						</div>
					</div>	
				</div>
				<!-- 边框外的三角图形 
				<div class="outPicture"> <img src="__PUBLIC__/Images/outpic.gif"/></div>	-->
			</div>

			<div class="caseShowtwo">
				<!-- <div class="outPicture"><img src=""/></div> -->
				<div class="caseShowgray">
					<div class="modelStyle">
						<p>
							<span>静态模板</span>
						</p>
					</div>
					<div class="showBody">
						<a href="#">
							<img src=""/>
						</a>
						<a href="#">
							<img src=""/>
						</a>
						<a href="#">
							<img src=""/>
						</a>
						<a href="#">
							<img src=""/>
						</a>
					</div>
					<div class="watchMore">
						<p>
							<span>查看更多</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div>
				<h1>知了设计</h1>
				<p>北京市昌平区顺沙路19号6区</p>
				<p>+152-3467-5667</p>
			</div>
		</footer>
	</div>
</body>
</html>