<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>论坛商城首页</title>
	<link rel="stylesheet" type="text/css" href="../Public/static/css/index_center.css">
	
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js">

	</script>
</head>
<body>
	<div class="main">
		<ul class="positions">
			<li>您的位置：</li>
			<li>交易商城> </li>
			<li class="gameNet">游戏网站</li>
			<li>共搜索到<span> 565 </span>个作品</li>
		</ul>
		<!--导航条部分-->
		<nav class="nav">
			<ul class="mainNav">
				<li><a href="#">全部</a></li>
				<li><a href="#">动态模板</a></li>
				<li><a href="#">静态模板</a></li>
				<li><a href="#">登录器皮肤</a></li>
				<li><a href="#">游戏界面</a></li>
				<li><a href="#">网站原画</a></li>
				<li><a href="#">LOGO素材</a></li>
				<li><a href="#">其他素材</a></li>
			</ul>
			<ul class="leftNav">
				<li><a href="#">综合排序</a></li>
				<li><a href="#">热门下载</a></li>
				<li><a href="#">新上传</a></li>
			</ul>
			<ul class="rightNav">
				<li><a> < </a></li>
				<li> 2 </li>
				<li><a> > </a></li>
			</ul>
		</nav>
		<!--栏目部分-->
		<div class="banner">
			<span class="leftBracket"> < </span> banner <span class="rightBracket"> > </span>
		</div>
		<!--十大排行榜部分-->
		<div class="ranking">
			<p>知了自由交易平台十大作者自动排名榜</p>
			<div class="autors">
				<dl class="numFirst">
					<span class="numberFirst"><img src="../../../../Public/Images/numOne.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numFirst">
					<span class="numberFirst"><img src="../../../../Public/Images/numTwo.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numFirst">
					<span class="numberFirst"><img src="../../../../Public/Images/numThree.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numOther"> 
					<span class="numbers"><img src="../../../../Public/Images/numFour.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numOther">
					<span class="numbers"><img src="../../../../Public/Images/numFive.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numOther">
					<span class="numbers"><img src="../../../../Public/Images/numSix.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numOther">
					<span class="numbers"><img src="../../../../Public/Images/numSeven.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numOther">
					<span class="numbers"><img src="../../../../Public/Images/numEight.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numOther">
					<span class="numbers"><img src="../../../../Public/Images/numNine.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
				<dl class="numLast">
					<span class="numberLast"><img src="../../../../Public/Images/numTen.jpg"/></span>
					<dt><a href="#"><img src="../../../../Public/Images/headpic.gif"/></a></dt>
					<dd>作者：XXX</dd>
				</dl>
			</div>
		</div>

		<div class="sample">
		<!-- 此处为具体模板展示区，共六排,此处为第一排的内容-->
			<div class="singleSample">
				<div class="tempic"><img src="../../../../Public/Images/tempic.jpg"/></div>
				<p><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<span class="manpic"><a href="#"><img src="../../../../Public/Images/manpic.jpg">XXX</a></span>
				<span class="loadpic"><a href="#"><img src="../../../../Public/Images/loadpic.jpg"></a>4</span>
				<span class="support"><a><img src="../../../../Public/Images/support.jpg"></a>1</span>
			</div>
			<div class="singleSample">
				<div class="tempic"><img src="../../../../Public/Images/tempic.jpg"/></div>
				<p><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<span class="manpic"><a href="#"><img src="../../../../Public/Images/manpic.jpg">XXX</a></span>
				<span class="loadpic"><a href="#"><img src="../../../../Public/Images/loadpic.jpg"></a>4</span>
				<span class="support"><a><img src="../../../../Public/Images/support.jpg"></a>1</span>
			</div>
			<div class="singleSample">
				<div class="tempic"><img src="../../../../Public/Images/tempic.jpg"/></div>
				<p><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<span class="manpic"><a href="#"><img src="../../../../Public/Images/manpic.jpg">XXX</a></span>
				<span class="loadpic"><a href="#"><img src="../../../../Public/Images/loadpic.jpg"></a>4</span>
				<span class="support"><a><img src="../../../../Public/Images/support.jpg"></a>1</span>
			</div>
			<div class="singleSample">
				<div class="tempic"><img src="../../../../Public/Images/tempic.jpg"/></div>
				<p><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<span class="manpic"><a href="#"><img src="../../../../Public/Images/manpic.jpg">XXX</a></span>
				<span class="loadpic"><a href="#"><img src="../../../../Public/Images/loadpic.jpg"></a>4</span>
				<span class="support"><a><img src="../../../../Public/Images/support.jpg"></a>1</span>
			</div>
			<div class="lastSample">
				<div class="tempic"><img src="../../../../Public/Images/tempic.jpg"/></div>
				<p><a href="#">报名火热开启<strong>游戏网站</strong>PSD素材</a></p>
				<span class="manpic"><a href="#"><img src="../../../../Public/Images/manpic.jpg">XXX</a></span>
				<span class="loadpic"><a href="#"><img src="../../../../Public/Images/loadpic.jpg"></a>4</span>
				<span class="support"><a><img src="../../../../Public/Images/support.jpg"></a>1</span>
			</div>
			<!-- 以上是第一排的模板  注意复制时第一排最后一个与前面的class名称不一样，不能被替代 -->
		</div>
		<!--翻页的页码部分-->
		<div class="pages">
			<ul>
				<li class="pageFirst"><a href="#">上一页</a></li>
				<li class="pageSecond"><a href="#">1</a></li>
				<li class="pageSecond"><a href="#">2</a></li>
				<li class="pageSecond"><a href="#">3</a></li>
				<li class="pageSecond"><a href="#">4</a></li>
				<li class="pageSecond"><a href="#">5</a></li>
				<li class="pageSecond"><a href="#">6</a></li>
				<li class="pageSecond"><a href="#">7</a></li>
				<li class="pageSecond"><a href="#">8</a></li>
				<li class="pageSecond"><a href="#">9</a></li>
				<li class="pageMore">...</li>
				<li class="pageSecond"><a href="#">15</a></li>
				<li class="pageFirst"><a href="#">下一页</a></li>
			</ul>
		</div>
	</div>
	<!-- 右侧边栏部分 -->
	<div class="sidebar">
		<ul>
			<li class="sidebarpic"><img src="../../../../Public/Images/sideserver.jpg"/></li>
			<li><a href="#">客服</a></li>
		</ul>	
		<ul>
			<li class="sidebarpic"><img src="../../../../Public/Images/sidecode.jpg"/></li>
			<li><a href="#">公众号</a></li>
		</ul>
		<ul>
			<li class="sidebarpic"><img src="../../../../Public/Images/sideviews.jpg"/></li>
			<li><a href="#">反馈意见</a></li>
		</ul>
		<ul>
			<li class="sidebarpic"><img src="../../../../Public/Images/sidemoney.jpg"/></li>
			<li><a href="#">充值</a></li>
		</ul>
		<ul>
			<li class="sidebarpic"><img src="../../../../Public/Images/sidevip.jpg"/></li>
			<li><a href="#">加入VIP</a></li>
		</ul>
		<img class="toptrangle" src="../../../../Public/Images/toptrangle.jpg"/>
	</div>
</body>
</html>