<include file="Public/model_header" title="模板首页" />
<body>
		<!-- 轮播图部分 -->
		<div class="headCarousel">
			<div class="carousel">
				<img src="__PUBLIC__/Images/mologo.jpg"/>
				<div>
					<div class="show">
						<a href="#"><img src="__PUBLIC__/Images/casepic.gif"/>案例展示</a>
						<a href="#"><img src="__PUBLIC__/Images/platform.gif"/>素材平台</a>
					</div>
					<ul class="dot">
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="body">
			<div class="serviceItem">
				<p class="title"><span>服务项目</span></p>
				<p class="englishName"><span>SERVICE ITEMS</span></p>
				<div class="aboutDesign">
					<div>
						<dl>
							<p>常规设计</p>
							<dt><img src="__PUBLIC__/Images/designone.gif"/></dt>
							<dd>符合更多人的浏览习惯</dd>
							<dd>往往让人记忆犹新</dd>
						</dl>
					</div>
					<div>
						<dl>
							<p>组合设计</p>
							<dt><img src="__PUBLIC__/Images/designtwo.gif"/></dt>
							<dd>吸引眼球</dd>
							<dd>独树一帜 与众不同</dd>
						</dl>
					</div>
					<div>
						<dl>
							<p>精美设计</p>
							<dt><img src="__PUBLIC__/Images/designthree.gif"/></dt>
							<dd>零瑕疵的</dd>
							<dd>精美考究</dd>
						</dl>
					</div>
					<div>
						<dl>
							<p>高端设计</p>
							<dt><img src="__PUBLIC__/Images/designfour.gif"/></dt>
							<dd>领先时代</dd>
							<dd>完美不朽</dd>
						</dl>
					</div>
					<p class="introduce">选择以上设计模式，开始定制您的游戏网站</p>
					<p class="introduceTwo">以专业的视角，独特的角度为您提供最具创意、最具视觉冲击力的网站。从交互的角度为受众提供更便利、更舒适的体验感受。</p>
				</div>
			</div>

			<!-- 第一个黑色模板块 -->
			<div class="caseShowone">
				<div class="caseShowblack">
					<p class="caseShow"><span>案例展示</span></p>
					<p class="englishName"><span>CASE SHOW</span></p>
					<div class="showBodyone">
						<div class="leftSide">
							<p>
								<a>查看更多</a>
							</p>
						</div>
						<div class="showModelsone">
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
						</div>
						<div class="dynamic">
							<a>动态模板</a>
						</div>
					</div>
					<!-- 边框外的三角图形 -->
					<div class="outPicture"> <img src="__PUBLIC__/Images/outpic.gif"/></div>	
				</div>	
			</div>

			<!-- 第二个灰色模板块 -->
			<div class="caseShowtwo">
				<div class="caseShowgray">
					<div class="showBodytwo">
						<div class="static">
							<p>
								<a>静态模板</a>
							</p>
						</div>
						<div class="showModelstwo">
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
						</div>
						<div class="rightSide">
							<p>
								<a>查看更多</a>
							</p>
						</div>
					</div>
					<!-- 边框外的三角图形 -->
					<div class="outPicturetwo"> <img src="__PUBLIC__/Images/outpictwo.gif"/></div>	
				</div>
			</div>

			<!-- 第三个黑色模板 -->
			<div class="caseShowthree">
				<div class="caseShowblack">
					<div class="showBodyone">
						<div class="leftSide">
							<p>
								<a>查看更多</a>
							</p>
						</div>
						<div class="showModelsone">
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
						</div>
						<div class="dynamic">
							<a>动态模板</a>
						</div>
					</div>	
				</div>
				<!-- 边框外的三角图形 -->
				<div class="outPicturethree"> <img src="__PUBLIC__/Images/outpic.gif"/></div>	
			</div>

			<!-- 第四个灰色模板 -->
			<div class="caseShowtwo">
				<div class="caseShowgray">
					<div class="showBodytwo">
						<div class="static">
							<p>
								<a>静态模板</a>
							</p>
						</div>
						<div class="showModelstwo">
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
						</div>
						<div class="rightSide">
							<p>
								<a>查看更多</a>
							</p>
						</div>
					</div>
					<!-- 边框外的三角图形 -->
					<div class="outPicturefour"> <img src="__PUBLIC__/Images/outpictwo.gif"/></div>	
				</div>
			</div>

			<!-- 第五个黑色模板 -->
			<div class="caseShowthree">
				<div class="caseShowblack">
					<div class="showBodyone">
						<div class="leftSide">
							<p>
								<a>查看更多</a>
							</p>
						</div>
						<div class="showModelsone">
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
							<a href="#">
								<img src="__PUBLIC__/Images/models.gif"/>
							</a>
						</div>
						<div class="dynamic">
							<a>动态模板</a>
						</div>
					</div>	
				</div>
				<!-- 边框外的三角图形 -->
				<div class="outPicturefive"> <img src="__PUBLIC__/Images/outpic.gif"/></div>	
			</div>
		</div>

		<include file="Public/model_footer" />