<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>案例详细信息</title>
	<link rel="stylesheet" href="../Public/static/css/Release-material.css"">
</head>
<body>
	<header class="releaseMaterial">
		<h2>PUBLISHED MATERIAL</h2>
	</header>
	<section class="mainRelease">
		<figure class="mainReleaseFigure">
			<img src="../../../../Public/images/imgicon.jpg" alt="头像">
			<figcaption>xxxxxx,您好!请输入您拥有该作品的版权，严禁盗用他人作品哦。</figcaption>
		</figure>
		<!-- 表单从作品名称到确定发布开始 -->
		<form class="mainReleaseForm">
			
		</form>
		<!-- 表单从作品名称到确定发布结束 -->
	</section>
</body>
</html>