<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了设计-个人中心</title>
	<link rel="stylesheet" href="__STATIC__/css/personal-center.css"">
	<script type="text/javascript" src="__STATIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/tabcut.js"></script>
</head>
<body>
	<!-- 中间部分开始 -->
	<div class="container">
		<!-- 左边侧边栏开始 -->
		<aside class="personSidebar">			
			<dl class="sidebarColumnOne">
				<dt>个人资料</dt>
				<dd><a class="sidebarColumnOneFirstA" href="{:U('Person/index')}">基础资料</a></dd>
				<dd><a class="sidebarColumnOneSecA" href="{:U('Person/personMessage')}">个人信息</a></dd>
				<dd><a class="sidebarColumnOneThirdA" href="{:U('Person/changePassword')}">修改密码</a></dd>
			</dl>					
			<dl class="sidebarColumnTwo">
				<dt>我的作品</dt>
				<dd><a class="sidebarColumnTwoFirstA" href="{:U('Person/transationRecord')}">上传作品</a></dd>
				<dd><a class="sidebarColumnTwoSecA" href="{:U('Person/production?flag=1')}">作品管理</a></dd>
				<dd><a class="sidebarColumnTwoThirdA activeCollection" href="{:U('Person/collection')}">我的收藏</a></dd>
			</dl>						
			<dl class="sidebarColumnThree">
				<dt>账户管理</dt>
				<dd><a class="sidebarColumnThreeFirstA" href="#">我的订单</a></dd>
				<dd><a class="sidebarColumnThreeSecA" href="#">开通VIP</a></dd>
				<dd><a class="sidebarColumnThreeThirdA" href="#">充值提现</a></dd>
				<dd><a class="sidebarColumnThreeFourthA" href="{:U('Person/transationRecord')}">交易记录</a></dd>
			</dl>			
		</aside>
		<!-- 右边内容区-我的收藏开始 -->
		<div id="mainCollection">
			<ul class="productionNumber collectionNumber">
				<li>动态模板<span>3</span></li>
				<li>静态模板<span>2</span></li>
				<li>原创<span></span></li>
				<li>界面<span></span></li>
				<li>登录器皮肤<span>1</span></li>
				<li>其他<span></span></li>
			</ul>
			<foreach name='work' item='v'>
			<ul class="productions collections">
				<li class="proItro colleItro">
					<figure class="proImg">
						<a href=""><img src={$v.works}></a>
						<figcaption>{$v.workname}<span>游戏网站</span>PSD素材</figcaption>
					</figure>
					<section class="preII">
						<div class="preIcon"><a href=""><img src={$v.headimg}></a><span>{$v.username}</span></div>
						<div class="preInfor"><a href=""><img src="__PUBLIC__/images/download-icon.jpg"></a><span>{$v.download}</span></div>
						<div class="preNum"><a href=""><img src="__PUBLIC__/images/star-icon.jpg"></a><span>{$v.favor}</span></div>
					</section>
				</li>
			</ul>
			</foreach>
		</div>
		<!-- 右边内容区-我的收藏结束 -->
		</div>
	<!-- 中间部分结束 -->
</body>
</html>