<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>版主管理-作品管理</title>
	<link rel="stylesheet" href="../Public/static/css/personal-center.css"">
	<link rel="stylesheet" href="../Public/static/css/moderManage.css"">
</head>
<body>
	<!-- 中间部分开始 -->
	<div class="container">
		<!-- 左边侧边栏开始 -->
		<aside class="personSidebar">			
			<dl class="sidebarColumnOne">
				<dt>个人资料</dt>
				<dd><a class="sidebarColumnOneFirstA" href="#">基础资料</a></dd>
				<dd><a class="sidebarColumnOneSecA" href="#">个人信息</a></dd>
				<dd><a class="sidebarColumnOneThirdA" href="#">修改密码</a></dd>
			</dl>					
			<dl class="sidebarColumnTwo">
				<dt>我的作品</dt>
				<dd><a class="sidebarColumnTwoFirstA" href="#">上传作品</a></dd>
				<dd><a class="sidebarColumnTwoSecA" href="#">作品管理</a></dd>
				<dd><a class="sidebarColumnTwoThirdA" href="#">我的收藏</a></dd>
			</dl>						
			<dl class="sidebarColumnThree sidebarColumnChangeHeight">
				<dt>账户管理</dt>
				<dd><a class="sidebarColumnThreeFirstA" href="#">我的订单</a></dd>
				<dd><a class="sidebarColumnThreeSecA" href="#">开通VIP</a></dd>
				<dd><a class="sidebarColumnThreeThirdA" href="#">充值提现</a></dd>
				<dd><a class="sidebarColumnThreeFourthA" href="#">交易记录</a></dd>
			</dl>
			<dl class="sidebarColumnFour">
				<dt>版主管理</dt>
				<dd><a class="sidebarColumnFourFirstA" href="#">作品管理</a></dd>
				<dd><a class="sidebarColumnFourSecA sidebarColumnFourSecActive" href="#">评论管理</a></dd>
			</dl>			
		</aside>
		<!-- 左边侧边栏结束 -->
		<!-- 右边内容区-评论管理开始 -->
		<ul class="moderManageMain moderManageComment">
			<li>评论</li>
			<li>操作</li>
		</ul>
		<div class="moderManageCenter">
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
			<!-- 单个评论详细情况开始 -->
			<div class="moderManageDetails">
				<div class="moderComment">
					<ul>
						<li><span>时间：</span>2016-10-12</li>
						<li><span>IP<label class="moderCommentIP">：</label></span>niniti</li>
						<li><span class="comment">评论：</span><label class="commentDetails">这是静态模板这是金改模i版这是静态模板你这是生理的烦恼城市频道实行的是当回事了除非你送的错误产生的我能成为未成年人陪我</label></li>
					</ul>
				</div>
				<div class="moderManageHandle">
					<ul>
						<li><a href="">允许发布</a></li>
						<li><a href="">禁止发布</a></li>
						<li><a href="">封用户ID</a></li>
					</ul>
				</div>
			</div>
			<!-- 单个评论详细情况结束 -->
		</div>
		<!-- 右边内容区-评论管理结束 -->
	</div>
	<!-- 中间部分结束 -->
</body>
</html>