<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了设计-个人中心</title>
	<link rel="stylesheet" href="__STATIC__/css/personal-center.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/tabcut.js"></script>
</head>
<body>
	<!-- 中间部分开始 -->
	<div class="container">
		<!-- 左边侧边栏开始 -->
		<aside class="personSidebar">			
			<dl class="sidebarColumnOne">
				<dt>个人资料</dt>
				<dd><a class="sidebarColumnOneFirstA" href="{:U('Person/index')}">基础资料</a></dd>
				<dd><a class="sidebarColumnOneSecA activePersonMessage" href="{:U('Person/personMessage')}">个人信息</a></dd>
				<dd><a class="sidebarColumnOneThirdA" href="{:U('Person/changePassword')}">修改密码</a></dd>
			</dl>					
			<dl class="sidebarColumnTwo">
				<dt>我的作品</dt>
				<dd><a class="sidebarColumnTwoFirstA" href="{:U('Person/transationRecord')}">上传作品</a></dd>
				<dd><a class="sidebarColumnTwoSecA" href="{:U('Person/production')}">作品管理</a></dd>
				<dd><a class="sidebarColumnTwoThirdA" href="{:U('Person/collection')}">我的收藏</a></dd>
			</dl>						
			<dl class="sidebarColumnThree">
				<dt>账户管理</dt>
				<dd><a class="sidebarColumnThreeFirstA" href="#">我的订单</a></dd>
				<dd><a class="sidebarColumnThreeSecA" href="{:U('Person/vip')}">开通VIP</a></dd>
				<dd><a class="sidebarColumnThreeThirdA" href="{:U('Person/recharge')}">充值提现</a></dd>
				<dd><a class="sidebarColumnThreeFourthA" href="{:U('Person/transationRecord')}">交易记录</a></dd>
			</dl>			
		</aside>
		<!-- 左边侧边栏结束 -->
		<!-- 右边内容区-个人信息开始 -->
		<div id="mainPersonMessage">
			<form action="{:U('Person/PersonMessage')}"  enctype="multipart/form-data" method="post">
			<div class="personMessageLeft">
				<figure class="headPortrait">
					<label><img src="<if condition='$P_message["headimg"]'>/{$P_message['headimg']}<else/>__PUBLIC__/Images/head-portrait.jpg</if>" id="editPic" width="100" height="128/"><a herf="#" class="FILE"><input type="file" name="picture" id="picture"/>上传头像</a></label>
					<!--<figcaption><a href=""></a></figcaption>-->
				</figure>
			</div>
			<div class="personMessageRight">

					<div class="messageForm">
						<span>邮箱:</span>
						<input type="email" name="user_email" value="{$P_message.email}">
					</div>
					<div class="messageForm">
						<span>昵称：</span>
						<input type="text" name="user_name" value="{$P_message.username}">
					</div>
					<div class="messageForm">
						<span>QQ：</span>
						<input type="text" name="user_QQ">
					</div>
					<div class="messageForm">
						<span>所在城市：</span>
						<input type="text" name="user_address">
					</div>
					<div class="messageForm">
						<span>性别：</span>
						<input class="messageFormSex" type="radio" name="user_sex" id="man"><label for="man">男</label>
						<input class="messageFormSex" type="radio" name="user_sex"><label>女</label>
						<input class="messageFormSex" type="radio" name="user_sex"><label>保密</label>
					</div>
					<div class="messageForm">
						<span>生日：</span>
						<div>
							<input class="messageFormBirth" type="datetime" name="user_birth" >
							<label class="messageFormData">年</label>
						</div>
						<div>
							<input class="messageFormBirth" type="datetime" name="user_birth" >
							<label class="messageFormData">月</label>
						</div>
						<div>
							<input class="messageFormBirth" type="datetime" name="user_birth" >
							<label class="messageFormData">日</label>
						</div>
					</div>
					<div class="messageForm">
						<span>职业：</span>
						<input type="text" name="user_profession">
					</div>
					<div class="messageForm">
						<span>关于自己：</span>
						<textarea name="user_oneself"  class="messageFormOneself"></textarea>
					</div>
					<input class="messageFormRevise" type="submit" value="确认修改">
				</form>
			</div>
		</div>
		<!-- 右边内容区-个人信息结束 -->
		</div>
	<!-- 中间部分结束 -->
	<script src="__STATIC__/js/uploadPreview.js"></script>
</body>
</html>