<include file="Public/header" title="知了充值中心" />
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了充值中心</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/voucher_center.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/2.css">
</head>
<body>
	<div class="main"> 
		<!--账户头像信息部分-->
		<div class="topBody">
			<div class="headPic"><div><img src="__PUBLIC__/Images/head.jpg"/></div></div>
			<ul class="imformations">
				<li>当前账户：野蛮女友猫七</li>
				<li>身份等级：普通用户</li>
				<li>邮箱：1029076489@qq.com</li>
			</ul>
			<a class="personal" href="#">个人信息</a>
			<a class="personal" href="#">在线充值</a>
			<ul class="states">
				<li><a href="#">余额：0金币</a> |</li>
				<li><a href="#">作品：0</a> |</li>
				<li><a href="#">收藏：0</a></li>
			</ul>
		</div>
		<!--主体内容部分-->
		<div class="bottomBody">
			<!--左边栏目部分-->
			<div class="sideBars">
				<ol>
					<li><a href="{:U('Person/vip')}">开通VIP</a></li>
					<li><a href="{:U('Person/recharge')}">充值金币</a></li>
					<li><a href="{:U('Person/withdraw')}">出售提现</a></li>
				</ol>
			</div>
			<!--充值金币部分-->
			<div class="rightBody" id="goldCoin">
				<p class="titleOne">自助充值<span>（请选择金额）</span></p>
				<div class="voucher">
					<a>充值 <span class="redWords">10元</span> 得<span class="blueWords">1000</span>金币</a>
					<a>充值 <span  class="redWords">30元</span> 得<span class="blueWords">4000</span>金币<span class="reward">(奖励1000金币)</span></a>
					<a>充值 <span  class="redWords">50元</span> 得<span class="blueWords">8000</span>金币<span class="reward">(奖励3000金币)</span></a>
					<a>充值 <span  class="redWords">100元</span> 得<span class="blueWords">20000</span>金币<span class="reward">(奖励10000金币)</span></a>
				</div>
				<p class="titleTwo">选择支付方式：</p>
				<div class="payStyle">
					<a href="#"><img src="__PUBLIC__/Images/payOne.jpg"/></a>
					<a href="#"><img src="__PUBLIC__/Images/payTwo.jpg"/></a>
				</div>
				<ul>
					<li>
						<button class="submit" type="submit">确认提现</button>
					</li>
				</ul>
				<div class="introduction">
					<p >充值说明：</p>
					<ul>
						<li>1.支付宝、微信支付：充值后即时到账，无需等待。</li>
						<li>2.支付成功后即可给充值的账户加上相应的金币。</li>
					</ul>
				</div>
			</div> 

		</div>
	</div>
</body>
</html>
<include file="Public/footer" />