<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了设计-个人中心</title>
	<link rel="stylesheet" href="../Public/static/css/personal-center.css"">
	<script type="text/javascript" src="../Public/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../Public/static/js/tabcut.js"></script>
</head>
<body>
	<!-- 中间部分开始 -->
	<div class="container">
		<!-- 左边侧边栏开始 -->
		<aside class="personSidebar">			
			<dl class="sidebarColumnOne">
				<dt>个人资料</dt>
				<dd><a class="sidebarColumnOneFirstA" href="#">基础资料</a></dd>
				<dd><a class="sidebarColumnOneSecA" href="#">个人信息</a></dd>
				<dd><a class="sidebarColumnOneThirdA" href="#">修改密码</a></dd>
			</dl>					
			<dl class="sidebarColumnTwo">
				<dt>我的作品</dt>
				<dd><a class="sidebarColumnTwoFirstA" href="#">上传作品</a></dd>
				<dd><a class="sidebarColumnTwoSecA" href="#">作品管理</a></dd>
				<dd><a class="sidebarColumnTwoThirdA" href="Collection.html">我的收藏</a></dd>
			</dl>						
			<dl class="sidebarColumnThree">
				<dt>账户管理</dt>
				<dd><a class="sidebarColumnThreeFirstA" href="#">我的订单</a></dd>
				<dd><a class="sidebarColumnThreeSecA" href="#">开通VIP</a></dd>
				<dd><a class="sidebarColumnThreeThirdA" href="#">充值提现</a></dd>
				<dd><a class="sidebarColumnThreeFourthA activeTransationRecord" href="#">交易记录</a></dd>
			</dl>			
		</aside>
		<!-- 左边侧边栏结束 -->
		<!-- 右边内容区-交易记录开始 -->
		<div id="mainTransationRecord">
			<header class="headerBlance">
				<h2>余额：<span>300</span>金币</h2>
				<div class="rechargeWithdraw">
					<a href="#">充值</a>
					<a href="#">提现</a>
				</div>
			</header>
			<ul class="transationRecords">
				<li>时间</li>
				<li>收入/支出</li>
				<li>账户余额</li>
			</ul>
			<div class="records">
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
				<ul class="recordsBranch">
					<li>2010/7/26</li>
					<li>收入210</li>
					<li>32000</li>
				</ul>
			</div>
		</div>
		<!-- 右边内容区-交易记录结束 -->
		</div>
	<!-- 中间部分结束 -->
</body>
</html>