<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了VIP中兴</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/voucher_center.css">
</head>
<body>

	<div class="main"> 
		<!--账户头像信息部分-->
		<div class="topBody">
			<div class="headPic"><div><img src="__PUBLIC__/Images/head.jpg"/></div></div>
			<ul class="imformations">
				<li>当前账户：野蛮女友猫七</li>
				<li>身份等级：普通用户</li>
				<li>邮箱：1029076489@qq.com</li>
			</ul>
			<a class="personal" href="{:U('Person/personMessage')}">个人信息</a>
			<a class="personal" href="{:U('Person/recharge')}">在线充值</a>
			<ul class="states">
				<li><a href="#">余额：0金币</a> |</li>
				<li><a href="#">作品：0</a> |</li>
				<li><a href="#">收藏：0</a></li>
			</ul>
		</div>
		<!--主体内容部分-->
		<div class="bottomBody">
			<!--左边栏目部分-->
			<div class="sideBars">
				<ol>
					<li><a href="{:U('Person/vip')}">开通VIP</a></li>
					<li><a href="{:U('Person/recharge')}">充值金币</a></li>
					<li><a href="{:U('Person/withdraw')}">出售提现</a></li>
				</ol>
			</div>

			<!--开通VIP部分-->
			<div class="rightBody" id="openVip">
				<p class="titleOne">开通VIP<span>（送下载素材8折优惠）</span></p>
				<div class="openVIP">
					<a href="#">购买VIP <span class="redWords">100元</span> 送10000金币<span class="discount">8折</span></a>
					<p>（期限30天）</p>
				</div>
				<p class="titleTwo">选择支付方式：</p>
				<div class="payStyle">
					<a href="#"><img src="__PUBLIC__/Images/payOne.jpg"/></a>
					<a href="#"><img src="__PUBLIC__/Images/payTwo.jpg"/></a>
				</div>
				<ul>
					<li>
						<button class="submit" type="submit">确认充值VIP</button>
					</li>
				</ul>
				<div class="introduction">
					<p >VIP特权说明：</p>
					<ul>
						<li>1.所有素材下载一律8折优惠。</li>
						<li>2.可以自由发布作品及标价出售，经管理员审核后即可展示。</li>
					</ul>
				</div>
			</div>  

			
		</div>
	</div>
</body>
</html>