<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品详情页</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/details.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="__STATIC__/js/show.js"></script>
	<script type="text/javascript" src="__STATIC__/js/favor.js"></script>
	<script type="text/javascript" src="__STATIC__/js/cookie.js"></script>
</head>
<body>
<!-- 商品详情页 -->
	<section id="Details">
		<div id="Details-main">
			<div class="Person">
				<div class="PersonPic">
					<a href="#"><img src="<if condition="$author['headimg']">/{$author['headimg']}<else/>__PUBLIC__/Images/person_03.png</if>" alt=""></a>
				</div>
				<div class="PersonName">
					<h3>{$author['username']}</h3>
					<p><a href="#">【查看她的主页】</a></p>
				</div>
			</div>
			<div class="PersonNav">
				<ul>
					<li><a href="#"><span>网站模板</span></a></li>
					<li><a href="#"><i><img src="__PUBLIC__/Images/download_07.jpg" alt=""></i><span>{$display['download']}下载</span></a></li>
					<li><a href="#"><i><img src="__PUBLIC__/Images/star_09.jpg" alt=""></i><span id="flove">{$display['favor']}</span>收藏</a></li>
				</ul>
			</div>
			<div class="PersonIntro">
				<h2>作品简介:</h2>
			<p> {$display['intro']}
			</p> 
			</div>
		</div>
		<!-- 照片展示介绍区 -->
		<div id="Show">
			<div class="ShowIntro">
				<div class="ShowPic">
					<div class="ShowPicBig" id="ShowPicBig">
						<img src="/{$img[0]}" alt="商品预览图">
					</div>
					<div class="ShowPicSmall" id="ShowPicSmall">
						<ul>
						<volist name="img" id="v">
							<li class="current"><a href="/{$v}" target="_blank"><img src="/{$v}" alt="商品预览图"></a></li>
						</volist>
						</ul>
					</div>
				</div>
				<div class="ShowWorks">
					<div class="ShowWorksHd">
						<h3>作品名称：<span>{$display['workname']}</span></h3>
					</div>
					<div class="ShowWorksPanel">
					<div class="ShowWorksSource">
						<ul>
							<li title=""><span>素材来源：</span>原创作品</li>
							<li title=""><span>素材类型：</span>{$display['catename']}</li>
						</ul>
					</div>
					<div class="ShowWorksMessage">
						<ul>
							<li title=""><span>编号：</span>{$display['id']}</li>
							<li title=""><span>模式：</span>RGB</li>
							<li title=""><span>类型：</span>{$display['type']}</li>
							<li title=""><span>尺寸：</span>900*600px</li>
							<li title=""><span>体积：</span></li>
							<li title=""><span>上传时间：</span>{$display['wtime']}</li>
						</ul>
					</div>	
					</div>
					<!-- 素材价格 -->
					<div class="ShowWorksPrice">
						<p>素材价格：<em>{$display['price']} </em>金币</p>
					</div>
					<div class="ShowWorksAction">
						<div class="ShowWorksActionBuy" id="ShowWorksActionBuy">
							<a href="#">立即购买</a>
						</div>
						<div class="ShowWorksActionCollect">
							<a href="#" id="favor" _id="{$display['id']}" link="{:U('details/putFavor')}"><if condition="$favor eq 0">加入收藏<else/>取消收藏</if></a>
						</div>
					</div>
				</div>
			</div>

			<!--  下载区域-->
			<div class="DownloadRegion">
				<h2>下载区域（需购买才可下载）</h2>
				<div class="DownloadRegionTD">
					<ul >
					<foreach name="compress" item="v">
						<li title="">
							<div class="DownloadRegionOne">
								<div class="DownloadRegionOneBag">
									<img src="__PUBLIC__/Images/Compression_10.jpg">
								</div>
								<div class="DownloadRegionOneIntro">
									<p>{$v['name']}</p>
									<p>WinRAR{$v['ext']} 压缩文件</p>
									<p>{$v['size']} M</p>
								</div>
							</div>
							<div class="DownloadRegionTwo">
							<if condition="$downFlag eq 0">
								<!--选择是否购买页面-->
								<a href="#" class="Buydown"?  style="color:red">点击下载</a>
								<else />
								<a href="/{$v['url']}">点击下载</a>
							</if>
							</div>
						</li>
					</foreach>
					</ul>
				</div>
			</div><!--  下载区域-->
			<!-- 作品详情 -->
			<div class="WorksDetails">
				<h2>作品详情</h2>
			</div>
			<!-- flash -->
			<div class="WorksFlash">
				<p>
					<if condition="$flash">
					<embed src="/{$flash}"></embed>
					</if>
				</p>
				<!--<p><img src="__PUBLIC__/Images/flash2_09.jpg" alt=""/></p>
				<p><img src="__PUBLIC__/Images/flash3_12.jpg" alt=""/></p>
				<p><img src="__PUBLIC__/Images/flash4_14.jpg" alt=""/></p>
				-->
				<foreach name="decimg" item="v">
					<img src="/{$v}" alt=""/>
				</foreach>

			</div>
			<!-- 评论 -->
			<div class="Comment">
				<div class="CommentHD">
					<h3>评论 <span>（277）</span></h3>
				</div>
				<div class="CommentInput">
					
					<div class="CommentInputSpeech">
						<textarea placeholder="最多输入100字符"></textarea>
					</div>
					<div class="CommentInputClick">
						<div class="CommentInputClickFace">
							<a href="#"><img src="__PUBLIC__/Images/face_03.jpg"></a>
							<span>添加表情</span>
						</div>
						<div class="CommentInputClickBut">
							<a href="#">发表评论</a>
						</div>
					</div>
				</div>
			</div>



		</div><!-- 照片展示介绍区 结尾标签-->
		<div class="BuyDialog" id="BuyDialog">
			<div class="BuyDialog-One">
				<div class="BuyDialog-head">
					<p>支付金额 ：<span>{$display['price']}</span>金币</p>
					<p>当前余额 ：<strong>{$money}</strong>金币</p>
				</div>
				<div class="BuyDialog-Btn">
					<form action="{:U('details/buy')}" method="post">
					<input type="hidden" name="wid" value="{$display['id']}">
					<input type="submit" name="" value="确认购买" class="BuyDialog-Btn1" id="Buy-Btn1">
					</form>
					<p> </p>
					<a href="#" title="">金币不足，点击购买 > ></a>
				</div>
				<div class="BuyClose" id="BuyClose">
					x
				</div>
			</div>
		</div>
	</section>
</body>
</html>