<include file="Public/header" title="消费列表" />

<div id="page-wrapper">
    
    <div class="row">
        <div class="col-md-6">
            <a href="{:U('consume/index')}" class="btn btn-success">查看全部消费</a>
        </div>
        <div class="col-md-6">
            <form action="{:U('consume/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入消费者名字或消费作品搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>消费者</th>
                <th>消费作品</th>
                <th>金币</th>
                <th>消费时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="consume" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.username} {$v.title}</td>
                <td>{$v.workname}</td>
                <td>-{$v.money}</td>
                <td>{$v.time|date="Y-m-d H:i:s",###}</td>
                <td><a href="{:U('consume/index?key=')}{$v.username}">查看用户消费</a> | <a href="{:U('consume/delete?id=')}{$v.id}" style="color:red;" onclick="javascript:return del('您真的确定要删除吗？\n\n删除后将不能恢复!');">删除</a></td>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$show}
</div>


<include file="Public/footer" />