<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了定制</title>
	<link rel="stylesheet" href="../Public/static/css/customization.css"">
</head>
<body>
	<header class="customizationHeader">
		<div class="headerContain">
			<img src="../../../../Public/images/theLOGO.jpg" alt="LOGO">
			<ul class="headerNav">
				<li><a href="">网站首页</a></li>
				<li><a href="">知了商城</a></li>
				<li><a href="">案例展示</a></li>
				<li><a href="">设计专栏</a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
		</div>
	</header>
	<!-- 中间主体部分开始 -->
	<section class="customizationMain">
		<ul class="mainNav">
			<li><a href="">常规制作</a></li>
			<li><a href="">组合设计</a></li>
			<li><a href="">精美设计</a></li>
			<li><a href="">高端设计</a></li>
		</ul>
		<div class="customizationMainContent">
			<div class="customizationBackImg">
			</div>
			<div class="customizationContent">
				<img src="../../../../Public/images/customer.gif" alt="">
				<div class="customerTotal">
					<div class="customer">
						<a href=""></a>
						<p class="customerName">设计师小美</p>
						<p class="customerQQ">QQ：568695467</p>
					</div>
					<div class="customer">
						<a href=""></a>
						<p class="customerName">设计师小美</p>
						<p class="customerQQ">QQ：568695467</p>
					</div>
					<div class="customer">
						<a href=""></a>
						<p class="customerName">设计师小美</p>
						<p class="customerQQ">QQ：568695467</p>
					</div>
					<div class="customer">
						<a href=""></a>
						<p class="customerName">设计师小美</p>
						<p class="customerQQ">QQ：568695467</p>
					</div>
					<div class="customer">
						<a href=""></a>
						<p class="customerName">设计师小美</p>
						<p class="customerQQ">QQ：568695467</p>
					</div>
					<p class="customizationConduct">点击此处</p>
					<p class="customizationConduct">开启您的精美设计之旅</p>
					<p class="customizationConduct">点击直接联系知了设计师</p>
					<p class="customizationConduct">把您的创意和需求与设计师零距离沟通</p>
					<p class="customizationItro">知了设计竭诚为您服务</p>
				</div>
				<p class="kindlyReminder">温馨提示：提交订单5分钟后将有客服联系您。</p>
			</div>
		</div>
	</section>
	<!-- 中间主体部分结束 -->
	<footer class="customizationFooter">
		<div class="customFooterTop">
			<p class="footerTopP">知了设计</p>
			<address class="footerTopAddress">北京市昌平区顺沙路19号6区</address>
			<address class="footerTopPhone">+152-3467-5667</address>
			<div class="customlink">
				<a href=""><img src="../../../../Public/images/wechat.jpg" alt="微信"></a>
				<a href=""><img src="../../../../Public/images/qqicon.jpg" alt="QQ"></a>
				<a href=""><img src="../../../../Public/images/microblog.jpg" alt="微博"></a>
			</div>
		</div>
		<div class="customFooterBotn">
			<p>京ICP备14007358号-1/京公网安备11010802014104号/Powered by &copy 2008-2016 UI.CN</p>
			<p>安全联盟认证 可信网站</p>
		</div>
	</footer>
</body>
</html>