<include file="Public/header" title="添加用户" xmlns="http://www.w3.org/1999/html"/>

<load href='__STATIC__/js/add.js' />

<div id="page-wrapper">
    <form   action="{:U('User/add')}" method="post" id="check" >
        <div class="form-group">
            <label>用户名</label>
            <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <label>邮箱</label>
            <input class="form-control" type="text" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label>QQ</label>
            <input class="form-control" type="text" name="qq" placeholder="QQ">
        </div>
        <div class="form-group">
            <label>密码</label>
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input class="form-control" type="password" name="repassword" placeholder="repassword">
        </div>
        <div class="form-group">
            <label>用户类型</label>
            <label class="radio-inline">
                <input type="radio" name="level" id="type" value="0" <if condition="$level eq 0">checked="checked"</if>>站长
            </label>
            <label class="radio-inline">
                <input type="radio" name="level" id="type" value="1" <if condition="$level eq 1">checked="checked"</if>>管理员
            </label>
            <label class="radio-inline">
                <input type="radio" name="level" id="type" value="2" <if condition="$level eq 2">checked="checked"</if>>vip用户
            </label>
            <label class="radio-inline">
                <input type="radio" name="level" id="type" value="3" <if condition="$level eq 3">checked="checked"</if>>普通用户
            </label>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit"  >添加</button>
        </div>

    </form>
</div>

<include file="Public/footer" />