<include file="Public/header" title="评论列表" />

<div id="page-wrapper">

    <div class="row">
        

        <div class="col-md-6">
            <form action="{:U('comment/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入评论内容或者用户名关键词搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>评论内容</th>
            <th>所属版区</th>
            <th>所属作品</th>
            <th>评论时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="model" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.content}</td>
                <td>{$vo.banqu}</td>
                <td>{$vo.work}</td>
                <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                <if condition="($vo.flag eq 0)">
                	<td style="color:red;">禁用中 | <a href="{:U('comment/show?id=')}{$vo.id}" style="color:#50AD1E;">显示</a></td>
                <else />
                	<td style="color:#50AD1E;">使用中 | <a href="{:U('comment/forbid?id=')}{$vo.id}" style="color:red;">禁用</a></td>
                </if>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$page}
</div>


<include file="Public/footer" />