<include file="Public/header" title="评论列表" />

<div id="page-wrapper">

    <div class="row">
        <div class="col-md-6">
            <a href="#" class="btn btn-success">管理评论</a>
        </div>
        <div class="col-md-6">
            <form action="{:U('comment/index')}" method="post">
                <div class="form-group input-group">
                    <input type="hidden" name="status" value="{$model[0]['status']}"/>
                    <input type="text" class="form-control" name="key"  placeholder="输入评论内容关键词搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>评论内容</th>
            <th>所属作品</th>
            <th>所属版区</th>
            <th>评论时间</th>
            <th>父编号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="model" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td>{$vo.content}</td>
                <td>{$vo.workname}</td>
                <td>{$vo.catename}</td>
                <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                <td>{$vo.parent_id}</td>
                <if condition="($vo.status eq 0)">
                	<td><a href="{:U('comment/more?id=')}{$vo.id}" >去审核</a></td>
                    <td><a href="{:U('comment/show?id=')}{$vo.id}" >通过</a> | <a href="{:U('comment/delete?id=')}{$vo.id}" style="color:red" onclick="javascript:return del('您确定要删除吗？\n\n删除后将不能恢复!');">删除</a></td>
                <else />
                	<td style="color:#50AD1E;">通过审核</td>
                    <td><a href="{:U('comment/forbid?id=')}{$vo.id}" onclick="javascript:alert('您确定要禁用吗？\n\n禁用后如不回复将在七天后删除!');" >禁用</a> | <a href="{:U('comment/delete?id=')}{$vo.id}" style="color:red" onclick="javascript:return del('您确定要删除吗？\n\n删除后将不能恢复!');">删除</a></td>
                </if>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$page}
</div>


<include file="Public/footer" />