*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "微软雅黑";
}
a,a:hover{
  	text-decoration:none;
}
img{
  	border:none;
}
/*内容部分*/
.main{
	max-width: 1200px;
	width: 1200px;
	margin: 26px auto 0;
	overflow: hidden;
	position: relative;
}
.positions{
	height: 26px;
	width: 851px;
	background: #f8f8f8;
	font-size: 12px;
	line-height: 26px;
	padding-left: 36px;
	color: #8a8a8a;
}
.positions li{
	float: left;
}
.gameNet{
	font-weight: bold;
	padding: 0 25px 0 10px;
}
.positions span{
	color: #59c48e;
}
/*导航条部分*/
.nav{
	width: 1200px;
	height: 120px;
}
.nav li{
	float: left;
}
.mainNav{
	width: 1160px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e2e2e2;
	font-size: 15px;
	padding-left: 35px;
	overflow: hidden;
}
.mainNav li{
	display: inline-block;
	margin-right: 15px;
}
.mainNav li a{
	color: #7c7c7c;
	display: block;
	height: 42px;
}
.mainNav li a:hover,.leftNavtop li a:hover,.leftNavbottom li a:hover{
	color: #59c48e;
	border-bottom: 2px solid #59c48e;
}
.leftNav{
	height: 60px;
	width: 518px;
	padding-left: 35px;
	font-size: 12px;
	float: left;
}
.leftNavtop{
	width: 300px;
	height: 20px;
	font-size: 15px;
	padding-top: 10px;
	float: left;
}
.leftNavtop li{
	margin-right: 30px;
}
.leftNavtop a,.leftNavbottom a{
	color: #7c7c7c;
	display: block;
	height: 20px;
}
.leftNavbottom{
	height: 20px;
	float: left;
	padding-top: 10px;
}
.leftNavbottom li{
	margin-right: 30px;
}
.rightNav{
	float: right;
	margin: 23px 20px 0 0;
	height: 37px;
}
.rightNav li{
	width: 36px;
	height: 25px;
	display: block;
	margin-right: 5px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #d9d9d9;
	border: 1px solid #d9d9d9;
	-moz-box-shadow:2px 2px 10px #d9d9d9;
    -webkit-box-shadow:2px 2px 5px #d9d9d9;
    box-shadow:2px 2px 5px #d9d9d9;
}
.rightNav a{
	display: block;
	color: #d9d9d9;
    cursor: pointer;
}
/*栏目部分*/
.banner{
	height: 48px;
	width: 1198px;
	border: 1px dashed #98d2b8; 
	background: #e6f9e6;
	line-height: 48px;
	text-align: center;	
}
.banner span{
	display: block;
	width: 20px;
}
.leftBracket{
	float: left;
	margin-left: 25px;
}
.rightBracket{
	float: right;
	margin-right: 25px;
}
/*十大排行榜部分*/
.ranking{
	width: 1200px;
	overflow: hidden;
}
.ranking p{
	height: 27px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	color: #7c7c7c;
}
.ranking .autors{
	width: 1000px;
	margin: 0 auto;
	height: 77px;
}
/*排行榜的数字处理*/
.ranking span{
	float: left;
	display: block;
	color: #7c7c7c;
	font-style: italic;/*字体倾斜*/
}
.ranking .numFirst span{
	margin:18px 0 0 0;
	width: 28px;
	height: 45px;
	font-size: 43px;
}
.ranking .numOther span{
	margin:32px 0 0 0;
	width: 22px;
	font-size: 30px;
}
.ranking .numLast span{
	margin:32px 0 0 0;
	width: 39px;
	font-size: 30px;
}
/*不同dl块的处理*/
.ranking .numFirst{
	width: 98px;
	height: 77px;
	float: left;
}
.ranking .numOther{
	width: 88px;
	height: 77px;
	float: left;
}
.ranking .numLast{
	width: 108px;
	height: 77px;
	float: left;
}
/*作者处不同处理*/
.ranking .numFirst dd{
	width: 66px;
}
.ranking .numOther dd{
	width: 63px;
}
.ranking .numLast dd{
	width: 65px;
}
/*排行榜处头像处理*/
.ranking .autors dt{
	float: left;
	width: 55px;
	height: 55px;
}
.ranking .numFirst dt{
	margin-left: 4px;
}
.ranking .autors dt a{
	display: block;
	width: 46px;
	height: 46px;
	border-radius: 46px;
	border: 4px solid #fff;
}
/*头像设置成圆形*/
.ranking .autors dt img{
	border-radius: 46px;
	width: 100%;
	height: 100%;
}
.ranking .autors dt a:hover{
	border: 4px solid #ff0000;
}
.ranking .autors dd{
	font-size: 5px;
	color: #828282;
	float: left;
}
/*中间模板展示区*/
.sample{
	width: 1200px;
	margin: 10px auto 0;
	font-size: 13px;
	overflow: hidden;
}
.singleSample{
	width: 227px;
	height: 380px;
	border: 1px solid #d9d9d9;
	-moz-box-shadow:2px 2px 10px #d9d9d9;
    -webkit-box-shadow:2px 2px 5px #d9d9d9;
    box-shadow:2px 2px 5px #d9d9d9;
    float: left;
    margin: 0 10px 45px 0;
}
.tempic{
	height: 304px;
	width: 218px;
	margin: 2px auto 10px;
}
.tempic img{
	width: 100%;
	height: 100%;
}
.singleSample .slogan{
	text-align: center;
	margin-bottom: 10px;
}
.singleSample a{
	color: #7f7f7f;
}
.manpic,.loadpic,.support{
	height: 28px;
	line-height: 28px;
	float: left;
}
p.manpic{
	margin-left: 23px;
	color: #888888;
	width: 110px;
	height: 28px;
	line-height: 28px;
<<<<<<< HEAD
}
.manpic span{
	display: inline-block;
	height: 28px;
	line-height: 30px;
	float: left;
}
.manpic a{
	float: left;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	margin-right: 6px;
}
.manpic img{
	border-radius: 25px;
=======
}
.manpic span{
	display: inline-block;
	height: 28px;
	line-height: 30px;
	float: left;
}
.manpic a{
	float: left;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	margin-right: 6px;
}
.manpic img{
	border-radius: 25px;
	width: 100%;
	height: 100%;
>>>>>>> 944688e41070c68288cf6388614af1a38219df43
}
p.loadpic{
	width: 46px;
}
p.loadpic,p.support{
	color: #a9a9a9;
}
.loadpic img{
	margin: 8px 3px 0 0;
	float: left;
}
.support img{
	float: left;
	margin: 7px 3px 0 0;
}
.support a{
	cursor: pointer;
}

/*翻页的页码部分*/
.pages{
	width: 852px;
	height: 56px;
	background: #f8f8f8;
	margin: 0px auto 25px;
	clear: both;
	padding-left: 13px;
}
.pages li{
	display: inline-block;
	margin: 10px 13px 0 0;
	float: left;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
}
.pageFirst{
	width: 90px;
	background: #fff;
}
.pageSecond{
	width: 47px;
	background: #fff;
}
.pageMore{
	width: 30px;
	background: #f8f8f8;
}
.pages a{
	color: #a9a9a9;
	display: block;
}
.pages a:hover{
	background: #1aba78;
	color: #fff;
}
/*侧边栏*/
.sidebar{
	width:50px;
	height: 420px;
	border: 1px solid #cbcbcb;
	position: absolute;
	top: 120px;
	right: 0;
}
.sidebar ul{
	height: 64px;
}
li.sidebarpic{
	margin: 13px 5px 0 15px;
}
.sidebar a{
	display: block;
	height: 28px;
	text-align: center;
	font-size: 8px;
	line-height: 25px;
	color: #828282;
	border-bottom: 2px solid #f8f8f8;
}
.sidebar a:hover{
	color: #b2b2b2;
}
img.toptrangle{
	margin: 5px 0 0 15px;
}