*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "微软雅黑";
}
/*body{
	width:1920px;
}*/
a,a:hover{
  	text-decoration:none;
}
img{
  	border:none;
}
/*内容部分*/
#main{
	max-width: 1200px;
	margin: 26px auto 0;
	overflow: hidden;
	position: relative;
}
.positions{
	height: 26px;
	width: 851px;
	background: #f8f8f8;
	font-size: 12px;
	line-height: 26px;
	padding-left: 36px;
	color: #8a8a8a;
}
.positions li{
	float: left;
}
.gameNet{
	font-weight: bold;
	padding: 0 25px 0 10px;
}
.positions span{
	color: #59c48e;
}
.nav{
	height: 90px;
}
.nav li{
	float: left;
}
.mainNav{
	width: 1160px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e2e2e2;
	font-size: 15px;
	padding-left: 40px;
	overflow: hidden;
}
.mainNav li{
	display: inline-block;
	margin-right: 28px;
}
.mainNav li a,.leftNav li a{
	color: #7c7c7c;
	display: block;
	height: 42px;
}
.mainNav li a:hover{
	color: #59c48e;
	border-bottom: 2px solid #59c48e;
}
.leftNav{
	height: 45px;
	width: 518px;
	padding-left: 40px;
	font-size: 12px;
	float: left;
}
.leftNav li{
	margin-right: 30px;
	line-height: 45px;
}
.leftNav li a:hover{
	color: #59c48e;
}
.rightNav{
	float: right;
	margin-right: 20px;
	height: 45px;
}
.rightNav a{
	display: block;
	width: 36px;
	height: 25px;
	margin: 8px 0 0 10px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	color: #d9d9d9;
	font-weight: bold;
	border: 1px solid #d9d9d9;
	-moz-box-shadow:2px 2px 10px #d9d9d9;
    -webkit-box-shadow:2px 2px 5px #d9d9d9;
    box-shadow:2px 2px 5px #d9d9d9;
}
.banner{
	height: 48px;
	width: 1200px;
	border: 1px dashed #98d2b8; 
	background: #e6f9e6;
	line-height: 48px;
	text-align: center;	
}
.banner span{
	display: block;
	width: 20px;
}
.leftBracket{
	float: left;
	margin-left: 25px;
}
.rightBracket{
	float: right;
	margin-right: 25px;
}
.ranking{
	width: 1200px;
	overflow: hidden;
}
.ranking p{
	height: 27px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	color: #7c7c7c;
}
.ranking .autors{
	width: 1000px;
	margin: 0 auto;
	height: 77px;
}
.ranking .numbers,.ranking .numberFirst,.ranking .numberLast{
	float: left;
	display: inline-block;
}
.ranking .numberFirst{
	margin:20px 0 0 0;
	display: block;
	width: 28px;
	height: 41px;
}
.ranking .numbers{
	margin:30px 5px 0 0;
}
.ranking .numberLast{
	margin:28px 0 0 0;
	width: 39px;
}
.ranking .numFirst{
	width: 97px;
	height: 77px;
	float: left;
}
.ranking .numOther{
	width: 94px;
	height: 77px;
	float: left;
}
.ranking .numLast{
	width: 107px;
	height: 77px;
	float: left;
}
.ranking .autors dt{
	float: left;
	width: 55px;
	height: 49px;
	margin-bottom: 5px;
}
.ranking .autors dd{
	font-size: 5px;
	color: #828282;
	float: right;
	width: 68px;
}
/*中间模板展示区*/
.sample{
	width: 1200px;
	margin: 10px auto 0;
	font-size: 13px;
	overflow: hidden;
}
.singleSample,.lastSample{
	width: 223px;
	height: 380px;
	border: 1px solid #d9d9d9;
	-moz-box-shadow:2px 2px 10px #d9d9d9;
    -webkit-box-shadow:2px 2px 5px #d9d9d9;
    box-shadow:2px 2px 5px #d9d9d9;
    float: left;
    margin-bottom: 45px;
}
.singleSample{
	margin-right: 12px;
}
.lastSample{
	margin-right: 0px;
}
.tempic{
	height: 304px;
	width: 218px;
	margin: 2px auto 10px;
}
.tempic img{
	width: 100%;
	height: 100%;
}
.singleSample p,.lastSample p{
	text-align: center;
	margin-bottom: 10px;
}
.singleSample a,.lastSample a{
	color: #7f7f7f;
}
.singleSample span,.lastSample span{
	display: block;
	height: 28px;
	line-height: 28px;
	float: left;
}
span.manpic{
	margin-left: 23px;
	color: #888888;
	width: 110px;
}
.manpic img{
	margin-right: 6px;
	float: left;
}
span.loadpic{
	width: 46px;
}
span.loadpic,span.support{
	color: #a9a9a9;
}
.loadpic img{
	margin: 8px 3px 0 0;
	float: left;
}
.support img{
	float: left;
	margin: 7px 3px 0 0;
}
.pages{
	width: 852px;
	height: 56px;
	background: #f8f8f8;
	margin: 0px auto 25px;
	clear: both;
	padding-left: 13px;
}
.pages li{
	display: inline-block;
	margin: 10px 13px 0 0;
	float: left;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 15px;
}
.pageFirst{
	width: 90px;
	background: #fff;
}
.pageSecond{
	width: 47px;
	background: #fff;
}
.pageMore{
	width: 30px;
	background: #f8f8f8;
}
.pages a{
	color: #a9a9a9;
	display: block;
}
.pages a:hover{
	background: #1aba78;
	color: #fff;
}
/*侧边栏*/
.sidebar{
	width:50px;
	height: 420px;
	border: 1px solid #cbcbcb;
	position: absolute;
	top: 120px;
	left: 1278px;
}
.sidebar ul{
	height: 64px;
}
li.sidebarpic{
	margin: 13px 5px 0 15px;
}
.sidebar a{
	display: block;
	height: 28px;
	text-align: center;
	font-size: 8px;
	line-height: 25px;
	color: #828282;
	border-bottom: 2px solid #f8f8f8;
}
.sidebar a:hover{
	color: #b2b2b2;
}
img.toptrangle{
	margin: 5px 0 0 15px;
}