*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "微软雅黑";
}
a,a:hover{
  	text-decoration:none;
}
img{
  	border: none;
}
.main{
	background: #e4e4e4;
}
 /*head*/
 .head{
 	width: 100%;
 	background: #75b42b;
 }
.caseHeader {
	width: 100%;
	height: 80px;
	background-color: #75b42b;
}
.caseHeaderContent {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.caseHeaderContent img {
	width: 11%;
	float: left;
	margin: 20px 0 0 0;
}
.caseHeaderContent ul {
	width: 600px;
	height: 80px;
	float: right;
	margin: 0 90px 0 0;
	font-size: 14px;
}
.caseHeaderContent ul li {
	float: left;
	width: 100px;
	height: 80px;
}
.caseHeaderContent ul li a {
	color: #ffffff;
	float: left;
	width: 90px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 80px;
}
.caseHeaderContent ul li a:hover {
	color: #3ed634;
	height: 75px;
	line-height: 69px;
	border-top: 5px solid #ffffff;
}