*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "微软雅黑";
}
a,a:hover{
  	text-decoration:none;
}
img{
  	border:none;
}
/*内容部分*/
.main{
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background: #fafafa;
	position: relative;
}
/*账户头像信息部分*/
.topBody{
	height: 200px;
	width: 1200px;
	border-bottom: 1px solid #eaeaea;
}
.topBody .headPic{
	width: 238px;
	height: 200px;
	float: left;
}
.topBody .headPic div{
	width: 146px;
	height: 146px;
	border-radius: 146px;
	margin: 25px auto 0;
}
.topBody .headPic img{
	border-radius: 146px;
}
.topBody .headPic img,.rightBody .payStyle img{
	width: 100%;
	height: 100%;
}
.topBody .imformations{
	width: 900px;
	height: 30px; 
	float: left;
	margin: 50px 0 40px 0;
}
.topBody .imformations li{
	float: left;
	display: inline-block;
	line-height: 30px;
	font-size: 17px;
	margin-right: 47px;
}
.topBody .personal{
	display: block;
	float: left;
	width: 100px;
	height: 30px;
	border: 1px solid #0ea116;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
	color: #68b12f;
	font-size: 22px;
	margin-right: 75px;
	text-align: center;
}
.topBody .states{
	float: right;
	height: 30px;
	margin-right: 40px;
}
.topBody .states li{
	float: left;
	display: inline-block;
	color: #646464;
	line-height: 30px;
	font-size: 17px;
	margin-right: 10px;
}
.bottomBody{
	width: 1200px;
	overflow: hidden;
}
/*左边栏目部分*/
.sideBars{
	width: 237px;
	height: 655px;
	float: left;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.sideBars a{
	display: block;
	width: 232px;
	height: 35px;
	line-height: 35px;
	color: #646464;
	font-size: 22px;
	text-indent: 75px;
	margin-top: 20px;
}
.sideBars a:hover{
	color: #009900;
	border-right: 5px solid #009900;
}

